extends ../layouts/main.pug
block content
  .container
    header
      h1= title

    div
      table.table.table-striped
        thead
          tr
            th Model
            th Brand
            th Price
            th Actions

        
        tbody
          each phone in phones
            tr
              td
                a(href=`/phones/${phone.id}`)= phone.model
              td= phone.brand
              td= phone.price
              td
                a(href=`/phones/${phone.id}/edit`) edit
                = ` | `
                form.destroy(action=`/phones/destroy`, method="POST", onsubmit='return confirm("Are you sure you wish to destroy this beautiful phone?")')
                  input(type="hidden", name="id", value=`${phone.id}`)
                  input.destroy(type="submit", value="destroy")