div
  form(action=(monitor ? `/monitors/update` : "/monitors"), method="POST")
    if monitor
      input(type="hidden", name="id", value=monitor.id)

    .form-group
      label Model
      input.form-control(name="monitor[model]", required, value=(monitor ? monitor.model : null))

    .form-group
      label Brand
      input.form-control(name="monitor[brand]", required, value=(monitor ? monitor.brand : null))

    .form-group
      label Price
      input.form-control(name="monitor[price]", required, value=(monitor ? monitor.price : null))

    .form-group
      label Resolution
      select.form-control(name="monitor[resolution]", required)
        each resolution in ['1920x1080', '2560x1080', '2560x1440', '3440x1440', '3840x2160']
          option(value=resolution, selected=(monitor && monitor.resolution === resolution))= resolution

    .form-group
      label Refresh Rate
      select.form-control(name="monitor[refresh_rate]", required)
        each refresh_rate in ['60hz', '75hz', '120hz', '144hz']
          option(value=refresh_rate, selected=(monitor && monitor.refresh_rate === refresh_rate))= refresh_rate

    .form-group
      label Screen Size
      select.form-control(name="monitor[screen_size]", required)
        each screen_size in ['17in', '19in', '21in', '23in', '24in', '27in']
          option(value=screen_size, selected=(monitor && monitor.screen_size === screen_size))= screen_size

    .form-group
      label Aspect Ratio
      select.form-control(name="monitor[aspect_ratio]", required)
        each aspect_ratio in ['4:3', '16:9', '21:9']
          option(value=aspect_ratio, selected=(monitor && monitor.aspect_ratio === aspect_ratio))= aspect_ratio

    .form-group
      label Panel Type
      select.form-control(name="monitor[panel_type]", required)
        each panel_type in ['IPS', 'VA', 'TN', 'OLED']
          option(value=panel_type, selected=(monitor && monitor.panel_type === panel_type))= panel_type

    .form-group
      label Additional Information
      textarea.form-control(name="monitor[additional_info]")
       = monitor ? monitor.additional_info : null
    
    .form-group
      button.btn.btn-dark(type="submit") Submit