extends ../layouts/main.pug
block content
  .container
    header
      h1= title

    div
      table.table.table-striped
        thead
          tr
            th Model
            th Brand
            th Price
            th Resolution
            th Refresh Rate
            th Screen Size
            th Aspect Ratio
            th Panel Type
            th Actions

        
        tbody
          each monitor in monitors
            tr
              td
                a(href=`/monitors/${monitor.id}`)= monitor.model
              td= monitor.brand
              td= monitor.price
              td= monitor.resolution
              td= monitor.refresh_rate
              td= monitor.screen_size
              td= monitor.aspect_ratio
              td= monitor.panel_type
              td
                a(href=`/monitors/${monitor.id}/edit`) edit
                = ` | `
                form.destroy(action=`/monitors/destroy`, method="POST", onsubmit='return confirm("Are you sure you wish to destroy this beautiful monitor?")')
                  input(type="hidden", name="id", value=`${monitor.id}`)
                  input.destroy(type="submit", value="destroy")