extends ../layouts/main.pug
block content
  .container
    header
      h1= monitor.model
      h4= monitor.brand
      h4= monitor.price
      h4= monitor.resolution
      h4= monitor.refresh_rate
      h4= monitor.screen_size
      h4= monitor.aspect_ratio
      h4= monitor.panel_type

      br

    div
      = monitor.additional_info